.card-content {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.welcome-card-text-content {
  width: 544px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.welcome-1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.welcome-2 {
  margin-top: 20px;
  font-family: "Broadsheet", sans-serif;
  font-size: 70px;
  font-weight: 400;
}

.card-image-content {
  width: 472px;
  height: 550px;
  position: relative;
  transition: right 2s, top 2s, transform 2s;
}

.card-image-content:hover {
  position: relative;
  right: 80px;
  top: 20px;
}

.numeric-container {
  height: 24vh;
  background-color: #040404;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #FFFFFF;
  line-height: 67px;
  margin: 0;
}

.numeric-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.numeric-container-value {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 56px;
  margin: 0;
}

.numeric-container-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.section-head {
  text-align: center;
  font-family: "Broadsheet", sans-serif;
  font-size: 64px;
  font-weight: 500;
}

.projects-grid {
  margin: 0px 25px 0px 25px;
  padding: 0px 25px 0px 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.outer-projects-tile {
  position: relative;
  width: 28vw;
  height: 28vw;
}

.projects-grid-tile {
  position: absolute;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.projects-image {
  position: relative;
  width: 28vw;
  height: 28vw;
  transition: all 0.5s ease-in-out;
}

.projects-grid-tile:hover {
  filter: blur(5px);
  cursor: pointer;
  z-index: -1;
}

.projects-image-overlay {
  position: absolute;
  width: 28vw;
  height: 28vw;
  z-index: 0;
}

.projects-image-overlay:hover {
  cursor: pointer;
  z-index: 2;
}

.scroll-up-button {
  position: absolute;
  right: 0;
  margin: 25px 25px 20px 25px;
  color: white;
}

.about-me-container {
  margin: 0;
  padding: 0;
}

.about-me-content {
  margin: 18px 118px 0px 118px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.about-me-pic {
  position: relative;
  min-width: 270px;
  min-height: 246px;
}

.about-me-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26.8px;
  margin-left: 25px;
  text-align: justify;
}

.skills-section {
  margin: 0 144px 0 144px;
}

.skills-section-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.skills-title-container {
  width: 30%;
  height: auto;
}

.skills-description-section {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.skills-description-tile {
  height: 85px;
}

.skills-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 1;
}

.skills-underline {
  position: absolute;
  left: 0;
  top: 20px;
  background-color: #E5E2F6;
  width: 100%;
  height: 19px;
  margin: 0;
}

.skills-title-underline {
  background-color: #D1F3E1;
  display: inline-flex;
}

.skills-description-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 27.6px;
  margin: 0 0 5px 0;
}

.skills-description-level {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  font-style: italic;
  margin: 0;
}

.hobbies-section {
  margin: 0 144px 20px 144px;
}

.hobbies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hobbies-card {
  width: 23vw;
}

.hobbies-card:nth-child(2n) {
  display: flex;
  flex-direction: column-reverse;
}

.hobbies-image {
  width: 23vw;
  height: 23vw;
  position: relative;
  margin: auto;
}

.hobby-title {
  font-family: "Inter" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
  margin: 0;
}

.hobby-description {
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.48px;
  margin: 0;
  text-align: justify;
}

.awards-section-container {
  height: 737px;
  background-color: #F8F0E2;
  padding: 68px 0 64px 0;
}

.awards-section-content {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  justify-content: flex-start;
  align-items: center;
}

.awards-card {
  max-width: 36vw;
  align-items: center;
  margin: 0 32px 0;
}

.awards-card:nth-child(1) {
  margin: 0 32px 0 144px;
} 

.awards-image {
  width: 36vw;
  height: 30vw;
  position: relative;
}

.awards-double-image {
  width: 36vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awards-image-1 {
  width: 36vw;
  height: 6vw;
  position: relative;
  margin-bottom: 9px;
}

.awards-image-2 {
  width: 36vw;
  height: 22vw;
  position: relative;
}

.awards-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
}

.awards-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #7A7A7A;
}

.buy-coffee-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  max-width: 80vw;
  align-self: center;
  background-color: #E5E2F6;
  padding: 48px 64px;
}

.buy-coffee-heading {
  margin: 0;
}

.buy-coffee-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.buy-coffee-description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buy-coffee-dollar {
  font-family: "Broadsheet", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 60.8px;
  margin: 0;
}

.buy-coffee-request {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.47px;
  margin: 0 15px 0 15px;
}

.design-process-container {
  height: 520px;
  background: linear-gradient(180deg, #E5E2F6 50%, white 50%);
  padding: 87px 0 0 0;
}

.design-process-inner-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 18px;
  margin: 64px 5vw 0 5vw;
}

.design-process-card {
  width: 16vw;
  height: auto;
  background-color: white;
  box-shadow: 0px 9px 18px rgba(165, 143, 193, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.design-process-image {
  position: relative;
  width: 55.75px;
  height: 57.39px;
}

.design-process-description {
  color: #040404;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
}

.skills-divider {
  margin: 32px 0px;
  color: #040404;
}

.blog-card-div {
  padding: 32px 0;
}

.blogs-section {
  margin: 0 144px;
}

.blog-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: 22vw;
}

.blog-card-thumbnail {
  min-width: 25vw;
  min-height: 18vw;
  position: relative;
  margin-right: 25px;
}

.blog-content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.blog-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 50.83px;
  margin: 0 0 24px 0;
}

.blog-published {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
  color: #040404;
  margin: 0 0 24px 0;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {

  .card-content {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .welcome-card-text-content {
    width: 100%;
  }

  .welcome-1 {
    margin: 0 25px 0 15px;
  }

  .welcome-2 {
    margin: 0 25px 0 15px;
  }

  .card-image-content {
    align-self: center;
  }

  .solid-divider {
    margin: 0px 64px 0px 64px;
  }

  .about-me-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px 40px 0px 40px;
  }

  .about-me-pic {
    min-width: 80vw;
    min-height: 80vw;
  }

  .skills-section-box {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hobbies-card {
    width: 80vw;
    margin-bottom: 20px;
  }

  .hobbies-image {
    width: 80vw;
    height: 80vw;
    margin-bottom: 10px;
  }

  .hobbies-section {
    margin: 0 64px 20px 64px;
  }

  .hobbies-container {
    flex-direction: column;
  }

  .hobbies-card:nth-child(2n) {
    display: flex;
    flex-direction: column;
  }

  .buy-coffee-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buy-coffee-description {
    margin: 0 0 32px 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .card-content {
    height: auto;
    flex-direction: column;
    justify-content: centers;
    align-items: center;
  }

  .welcome-card-text-content {
    height: 30vh;
    width: 100vw;
  }

  .welcome-1 {
    margin: 0 18px 0 10px;
  }

  .welcome-2 {
    font-size: 40px;
    margin: 0 18px 0 10px;
  }

  .card-image-content {
    max-width: 330px;
    height: 420px;
  }

  .numeric-container {
    flex-direction: column;
    height: 520px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
  }

  .projects-grid-tile {
    width: 80vw;
    height: 80vw;
  }

  .solid-divider {
    margin: 0px 24px 0px 24px;
  }

  .about-me-pic {
    min-width: 80vw;
    min-height: 80vw;
  }

  .about-me-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px 10vw 0px 10vw;
  }

  .about-me-description {
    min-width: 80vw;
  }

  .skills-section-box {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .skills-description-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hobbies-card {
    width: 80vw;
  }

  .hobbies-image {
    width: 80vw;
    height: 80vw;
  }

  .hobbies-section {
    margin: 0 64px 20px 64px;
  }

  .hobbies-container {
    flex-direction: column;
  }

  .hobbies-card:nth-child(2n) {
    display: flex;
    flex-direction: column;
  }

  .buy-coffee-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buy-coffee-description {
    margin: 0 0 32px 0;
  }

  .design-process-container {
    height: auto;
  }

  .design-process-inner-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .design-process-card {
    width: 75vw;
    height: 35vw;
  }

  .design-process-image {
    width: 20%;
    height: 45%;
  }

  .design-process-description {
    font-weight: 400;
    font-size: 4vw;
    line-height: 16.94px;
  }
}