.main-nav {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 120px 0px 120px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-li {
  float: left;
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black;
}

.nav-li:hover {
  text-decoration: underline;
  font-weight: 500;
}