.main-nav {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 120px 0px 120px;
  height: 12vh;
}

.menu-icon {
  display: none;
}

.main-footer {
  min-height: 483px;
  width: 100%;
  background-color: #040404;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-routes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-routes-item {
  color: #E5E2F6;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.footer-divider {
  width: 100%;
}

.contact-me {
  color: #E5E2F6;
  font-family: "Broadsheet", sans-serif;
  font-weight: 400;
  font-size: 128px;
  text-align: center;
  margin: 0;
}

.contact-section {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-details-title {
  color: #E5E2F6;
  font-family: 'Inter' sans-serif;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}

.contact-details-description {
  color: #E5E2F6;
  font-family: 'Inter' sans-serif;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
}

.social-handles {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social-bubble {
  border: 1px solid #E5E2F6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.social-bubble-icon {
  margin-top: 28px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .main-nav {
    margin: 0 20px 0 20px;
  }

  .nav-ul {
    display: none;
  }

  .nav-li {
    display: none;
  }

  .menu-icon {
    display: inline;
    align-self: center;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .footer-routes {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-nav {
    margin: 0px 55px 0px 55px;
    align-items: center;
  }

  .nav-ul {
    display: none;
  }

  .main-footer {
    height: 666px;
  }

  .footer-routes {
    height: 334px;
    flex-direction: column;
  }

  .contact-me {
    font-size: 64px;
  }

  .contact-section {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-bubble {
    width: 70px;
    height: 70px;
  }

  .social-bubble-icon {
    margin-top: 15px;
  }
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-li {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black;
  font-size: 10;
  white-space: nowrap;
}

.nav-li:hover {
  text-decoration: underline;
  font-weight: 500;
}